{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">ISRO Projects</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Chandrayaan</h5>
            <p>India’s lunar exploration mission</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Mangalyaan</h5>
            <p>Mars Orbiter Mission</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Gaganyaan</h5>
            <p>Human spaceflight mission</p>
        </div>
    </div>
</div>

{% endblock %}